// ________________________
// GRID CONTAINERS

// sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// container
.qcontainer,
.qcontainer-fluid,
.qcontainer-sm,
.qcontainer-md,
.qcontainer-lg,
.qcontainer-xl {
  // width: 100% causes overflow
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: #{$sm}) {
  .qcontainer, .qcontainer-sm {
    max-width: 540px;
  }
  // 12 column grid small
  @for $i from 1 through 12 {
    // 12 column grid
    .qcol-sm-#{$i} {
      -webkit-box-flex: 0 0 calc(100% / 12 * #{$i});
              -ms-flex: 0 0 calc(100% / 12 * #{$i});
                  flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
    .qcol-sm-auto {
      -webkit-box-flex: 0 0 auto;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  } 
}

@media (min-width: #{$md}) {
  .qcontainer, .qcontainer-sm, .qcontainer-md {
    max-width: 720px;
  }
  // 12 column grid medium
  @for $i from 1 through 12 {
    // 12 column grid
    .qcol-md-#{$i} {
      -webkit-box-flex: 0 0 calc(100% / 12 * #{$i});
              -ms-flex: 0 0 calc(100% / 12 * #{$i});
                  flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
    .qcol-md-auto {
      -webkit-box-flex: 0 0 auto;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  }
}

@media (min-width: #{$lg}) {
  .qcontainer, .qcontainer-sm, .qcontainer-md, .qcontainer-lg {
    max-width: 960px;
  }
  // 12 column grid large
  @for $i from 1 through 12 {
    // 12 column grid
    .qcol-lg-#{$i} {
      -webkit-box-flex: 0 0 calc(100% / 12 * #{$i});
              -ms-flex: 0 0 calc(100% / 12 * #{$i});
                  flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
    .qcol-lg-auto {
      -webkit-box-flex: 0 0 auto;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  }
}

@media (min-width: #{$xl}) {
  .qcontainer, .qcontainer-sm, .qcontainer-md, .qcontainer-lg, .qcontainer-xl {
    max-width: 1140px;
  }
  // 12 column grid xlarge
  @for $i from 1 through 12 {
    // 12 column grid
    .qcol-xl-#{$i} {
      -webkit-box-flex: 0 0 calc(100% / 12 * #{$i});
              -ms-flex: 0 0 calc(100% / 12 * #{$i});
                  flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
    .qcol-xl-auto {
      -webkit-box-flex: 0 0 auto;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
  }
}

// row
.qrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
// columns
@for $i from 1 through 12 {
  // 12 column grid
  .qcol-#{$i} {
    -webkit-box-flex: 0 0 calc(100% / 12 * #{$i});
            -ms-flex: 0 0 calc(100% / 12 * #{$i});
                flex: 0 0 calc(100% / 12 * #{$i});
    max-width: calc(100% / 12 * #{$i});
  }
  .qcol-auto {
    -webkit-box-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  // children's order
  .qorder-#{$i} {
    order: #{$i};
  }
  .qorder-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .qorder-last {
    -ms-flex-order: 13;
    order: 13;
  }
  // children's offset
  .qoffset-#{$i} {
    margin-left: calc(100% / 12 * #{$i});
  }
}
