// ________________________
// IMPORTS
@import 'reset.scss';
@import 'containers.scss';
@import 'sizing.scss';
@import 'test.scss';
// roboto google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// ________________________
// DEFAULTS
html {
  font-family: 'Roboto', sans-serif;
}
body {
  line-height: 1.5;
  width: 100%;
}
a {
  color: #1b68e4;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top: solid 1px;
  border-bottom: none;
}

// ________________________
// ELEMENTS' CLASSES

// headings
.qh1, .qh2, .qh3, .qh4, .qh5, .qh6 {
  padding: 0 1rem;
}
.qh1 {
  font-size: 4rem;
  font-weight: 700;
  padding: 0 2rem;
  color: #2176ff;
}
.qh2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #33a1fd;
}
.qh3 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #f79824;
}
.qh4 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffc422; 
}
.qh5 {
  font-size: 2rem;
  padding: 0 .5rem;
  color: #33a1fd;
}
.qh6 {
  font-size: 1.6rem;
  padding: 0 .5rem;
  color: #ffc422;  
}

// button
$btn-bg-color: #e4ecff;
$btn-border-color: #a5b5d5;
$btn-text-color: #1b68e4;

button.qbtn, a.qbtn {
  background-color: $btn-bg-color;
  border: solid 1px $btn-border-color;
  border-radius: 4px;
  color: $btn-text-color;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  margin: .2rem;
  padding: .2rem .6rem;
  text-decoration: none;
  &:hover {
    background-color: darken($color: $btn-bg-color, $amount: 5%);
    color: darken($color: $btn-text-color, $amount: 20%);
    border: solid 1px lighten($color: $btn-border-color, $amount: 8%);
  }
}

// ________________________
// HEADER
@for $i from 1 through 10 {
  // absolute
  .qheader-#{$i} {
    position: relative;
    top: 0;
    width: 100%;
    height: calc(10px * #{$i});
    background-color: #bbb;
  }
  // fixed
  .qheader-fixed-#{$i} {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(10px * #{$i});
    background-color: #bbb;
  }
}

// ________________________
// FOOTER
@for $i from 1 through 10 {
  // absolute
  .qfooter-#{$i} {
    position: relative;
    bottom: 0;
    width: 100%;
    height: calc(10px * #{$i});
    background-color: #bbb;
  }
  // fixed
  .qfooter-fixed-#{$i} {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(10px * #{$i});
    background-color: #bbb;
  }
}

// ________________________
// GAP
@for $i from 1 through 10 {
  .qgap-#{$i} {
    width: 100%;
    height: calc(10px * #{$i});
    background-color: whitesmoke;
  }
}
